# ESP
esp/server/build/**
esp/server/spiffs_image/**/*.key
esp/server/spiffs_image/**/*.crt

esp/client/build/**
esp/client/spiffs_image/**/*.key
esp/client/spiffs_image/**/*.crt

# Editors
.vscode

# Certificates and keys
certs/**

# Tex misc
doc/bachelor_thesis_german/**/*.aux
doc/bachelor_thesis_german/**/*.bcf
doc/bachelor_thesis_german/**/*.lof
doc/bachelor_thesis_german/**/*.log
doc/bachelor_thesis_german/**/*.lot
doc/bachelor_thesis_german/**/*.xml
doc/bachelor_thesis_german/**/*.toc
doc/bachelor_thesis_german/**/*.bbl
doc/bachelor_thesis_german/**/*.blg
doc/bachelor_thesis_german/**/*.out

# PDF files
# doc/bachelor_thesis_german/Bachelorarbeit_Marian_Käsemodel.pdf

# Private files
todo.md